.TodoList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  list-style-type: none;
  font-size: 18px;
  line-height: 2.4;
  color: orangered;
}